.chatView {
  flex: 6;
  height: 100%;
  width: 100%;
  /* overflow-y: scroll; */
  position: relative;
  overflow: hidden;
}

.messagesContainer {
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.messagesContainer::-webkit-scrollbar {
  display: none;
}
